# This file is used by pip-compile to generate requirements.txt
# Everything you directly use in your source code should be a top-level dependency recorded here.
# Don't pin them unless you want them pinned, of course.
click
pip-tools
pytz
requests
tabulate
